/* Main styles */

.width200px {
    width: 200px !important;
}

.width100px {
    width: 100px !important;
}

.width50px {
    width: 50px !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

#ordersList td {
    vertical-align: middle;
}

.ol-date {
    line-height: 1;
}

.border-outline-danger {
    border-color: #c12e2a !important;
}

.userInfoIcon {
    min-width: 20px;
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
}

input.custom-date-picker {
    width: 200px !important;
}

a.custom-date-picker {
    position: relative;
    margin-left: -25px;
    top: 0;
}

.dp-container a.custom-date-picker {
    position: absolute;
    margin-top: 4px;
    right: 25px;
}

h2 {
    padding: 20px 0;
}

.btn-group.btn-group-sm .btn,
.btn.btn-sm {
    padding: 0.45em .5rem;
    font-size: .65rem;
}

.public-block,
.hidden-block {
    display: block;
}

.public-block.hide,
.hidden-block.hide {
    display: none;
}

.hidden-block input[type=number] {
    width: 75px;
    text-align: right;
}

.pagination {
    display: block;
    margin: 0 auto;
    text-align: center;
}