:root {
    --color-bg-default: #ecf0f1;
    --color-bg-submit: var(--base);
    --color-bg-border: #dbdbdb;
    --color-bg-return-button: var(--accent);
    --color-bg-text-input: rgba(255, 255, 255, 0.2);
    --color-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    --color-text-submit: var(--accentInverse);
    --color-text-input: var(--font);
}